#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# See `~/src/Firmware/px4fmu_common/init.d-posix/rcS` for examples

# On `if` `then`:
# https://robots.thoughtbot.com/the-unix-shells-humble-if#negation-true-and-false

# On parameter expansion:
# https://unix.stackexchange.com/a/122848

# uorb module must be started first
uorb start

IS_DAMAGED=${PX4_IS_DAMAGED:=true}
USE_EXTERNAL_VISION=${PX4_USE_EXTERNAL_VISION:=true}
SL_CONTROL_INPUT=${PX4_SL_CONTROL_INPUT:=true}
POLL_LOG=${PX4_POLL_LOG:=true}

param set SDLOG_PROFILE 1

if [ "$PX4_CONTROL" = "sl_urcontrol" ]; then
	POLL_TOPIC=urcontrol_input
elif [ "$PX4_CONTROL" = "sl_pos_direct" ]; then
	POLL_TOPIC=pos_direct_control_input
elif [ "$PX4_CONTROL" = "sl_control" ]; then
	POLL_TOPIC=rate_control_input
elif [ "$PX4_CONTROL" = "default" ]; then
	POLL_TOPIC=false
fi

if $POLL_LOG; then
	logger start -b 1024 -t -r 1000 -p $POLL_TOPIC
else
	logger start -b 1024 -t -r 1000
fi

param select /home/root/parameters
if [ -f /home/root/parameters ]; then
	param load
fi
param set SYS_AUTOSTART 4013
param set MAV_BROADCAST 1
param set MAV_TYPE 2

if $IS_DAMAGED; then
	param set SYS_HAS_MAG 0
	param set SYS_HAS_BARO 0
else
	param set SYS_HAS_MAG 1
	param set SYS_HAS_BARO 1
fi

if $USE_EXTERNAL_VISION; then
	param set EKF2_AID_MASK 24 # vision position/yaw
	param set EKF2_HGT_MODE 3  # vision
	param set EKF2_MAG_TYPE 4  # mc custom

	param set EKF2_EV_DELAY 20
	param set EKF2_EVP_NOISE 0.005
	param set EKF2_EVA_NOISE 0.01

	param set EKF2_GYR_NOISE 0.1
	param set EKF2_GYR_B_NOISE 0.01

	param set EKF2_ACC_NOISE 10
	param set EKF2_ACC_B_NOISE 0.01

	# Set all delays to zero, or the EKF will run delayed.
	# See `ekf2_params.c` and `estimator_interface.cpp:492`
	param set EKF2_GPS_DELAY 0
	param set EKF2_OF_DELAY 0
	param set EKF2_RNG_DELAY 0
	param set EKF2_ASP_DELAY 0
	# `estimator_interface.cpp:507`
	param set EKF2_EV_DELAY 10
	param set EKF2_AVEL_DELAY 0
	param set EKF2_MIN_OBS_DT 10
fi

if ! $IS_DAMAGED; then
	df_ms5607_wrapper start
fi

df_mpu6050_wrapper start -R 8

if ! $IS_DAMAGED; then
	df_ak8963_wrapper start -R 32
fi

# Rangefinder disabled for now. It was found to cause delays of more than 10ms
#df_bebop_rangefinder_wrapper start
gps start -d /dev/ttyPA1
# bebop_flow start
sensors start
commander start
ekf2 start
dataman start
navigator start

# Land detector interferes with position controller
# land_detector start multicopter

echo "[startup] PX4_CONTROL=$PX4_CONTROL"

# Use environment variable PX4_CONTROL to choose controller.
if [ "$PX4_CONTROL" = "sl_urcontrol" ]; then
	CONTROL_GROUP=4
elif [ "$PX4_CONTROL" = "sl_pos_direct" ]; then
	CONTROL_GROUP=3
elif [ "$PX4_CONTROL" = "sl_control" ]; then
	CONTROL_GROUP=2
elif [ "$PX4_CONTROL" = "default" ]; then
	CONTROL_GROUP=1
fi

echo "[startup] Setting 'SYS_MC_CTRL_GRP' param to $CONTROL_GROUP"
param set SYS_MC_CTRL_GRP $CONTROL_GROUP

if param compare SYS_MC_CTRL_GRP 1; then
	param set MPC_XY_VEL_P 0.12
	param set MPC_XY_P 1.3
	param set MPC_XY_VEL_D 0.006
	param set MPC_XY_VEL_I 0.05
	param set MPC_XY_VEL_MAX 8

	param set MPC_Z_VEL_P 0.3
	param set MPC_Z_VEL_I 0.1

	param set MC_YAW_P 3.0
	param set MC_YAWRATE_P 0.05
	param set MC_YAWRATE_I 3.0

	param set MC_ROLLRATE_P 0.07
	param set MC_ROLLRATE_I 0.5
	param set MC_ROLLRATE_D 0.0
	param set MC_RR_INT_LIM 0.5

	param set MC_PITCHRATE_P 0.1
	param set MC_PITCHRATE_I 0.8
	param set MC_PITCHRATE_D 0.0
	param set MC_PR_INT_LIM 0.5

	mc_att_control start
	mc_pos_control start
fi

if param compare SYS_MC_CTRL_GRP 2; then

	# Using PX4 position controller

	# param set MPC_XY_P 0.5
	# param set MPC_XY_VEL_P 0.1
	# param set MPC_XY_VEL_I 0.06
	# param set MPC_XY_VEL_D 0
	# param set MPC_XY_VEL_MAX 2

	# param set MPC_Z_VEL_P 0.5
	# param set MPC_Z_VEL_I 0.5

	# mc_pos_control start

	param set SL_YAW_RATE_SP 0

	# Failures
	param set SL_ACT_LIM_RPM 12200
	param set SL_ACT_SAW_AMP 0
	param set SL_ACT_SAW_FREQ 6
	param set SL_ACT_FAIL_ID 0

	# Primary axis controller
	param set SL_ATT_XY_GAIN 15
	param set SL_PRIM_AXIS_X 0
	param set SL_PRIM_AXIS_Y 0

	# Rate P gains
	param set SL_ATT_ROLL_GAIN 32
	param set SL_ATT_PITCH_GN 32
	param set SL_ATT_YAW_GAIN 6

	# Rate control effectivenss
	param set SL_ATT_ROLL_EFF 230
	param set SL_ATT_PITCH_EFF 230
	param set SL_ATT_YAW_EFF -130
	param set SL_ATT_YAW_D_EFF -0.8

	# Thrust (Az) effectiveness
	param set SL_ATT_AZ_EFF 8

	param set SL_POS_XY_P_GAIN 2
	param set SL_VEL_XY_P_GAIN 1

	param set SL_POS_Z_P_GAIN 2
	param set SL_VEL_Z_P_GAIN 5

	# TODO: tune this, decide on gains
	# # Rate P gains
	# param set SL_ATT_ROLL_GAIN 8
	# param set SL_ATT_PITCH_GN 8
	# param set SL_ATT_YAW_GAIN 4

	# # Rate control effectivenss
	# param set SL_ATT_ROLL_EFF 240
	# param set SL_ATT_PITCH_EFF 240
	# param set SL_ATT_YAW_EFF -80
	# param set SL_ATT_YAW_D_EFF 1.6
	# param set SL_ATT_AZ_EFF 16

	# param set MPC_POSD_LP 20
	# param set MPC_VELD_LP 5

	# param set MPC_XY_VEL_P 0.0600
	# param set MPC_XY_VEL_I 0.0200
	# param set MPC_Z_VEL_P 0.2000
	# param set MPC_Z_VEL_I 0.1000

	# Rate actuator time constant
	param set SL_ATT_T_ACT 0.025

	sl_control start
fi

if param compare SYS_MC_CTRL_GRP 3; then

	param set SL_ROT_DIRECTION -1
	param set SL_RPM_FEEDBACK 1
	param set SL_THRUST_COEFF 1.9035e-6
	param set SL_GEOM_L 0.0875
	param set SL_GEOM_B 0.1150
	param set SL_MASS 0.3740
	param set SL_INERTIA_X 0.0014
	param set SL_INERTIA_Y 0.0013
	param set SL_INERTIA_Z 0.0025
	param set SL_INERTIA_PROP 8.00e-6
	param set SL_TORQUE_COEFF 1.9203e-8
	param set SL_POS_CTRL_RATE 500
	param set SL_POS_P_GAIN 1
	param set SL_POS_D_GAIN 1
	param set SL_POS_I_GAIN 0.0
	param set SL_ATT_P_GAIN 100
	param set SL_ATT_D_GAIN 80
	param set SL_ATT_I_GAIN 0
	param set SL_ALT_P_GAIN 30
	param set SL_ALT_D_GAIN 20
	#param set SL_ALT_I_GAIN 0.1
	param set SL_CHI 90
	param set SL_INDI_FILTER_T 0.04
	param set SL_Z_POS_SP 0.2
	# param set EKF2_EV_DELAY 175
	sl_pos_direct_control start

fi

if param compare SYS_MC_CTRL_GRP 4; then

	# param set SL_SP_X_POS, 0.f
	# param set SL_SP_Y_POS 0.f
	# param set SL_SP_Z_POS -0.5
	# param set SL_SP_YAW 0.f
	# param set SL_EST_OMEGAFILT 0.75
	# param set SL_EST_POSFILT 0.85
	# param set SL_EST_VELFILT 0.85
	# param set SL_EST_ATTFILT 0.5
	# param set SL_POS_KP_POSX 2.0
	# param set SL_POS_KP_POSY 2.0
	# param set SL_POS_KP_POSZ 2.0
	# param set SL_POS_KP_VELX 4.0
	# param set SL_POS_KP_VELY 4.0
	# param set SL_POS_KP_VELZ 4.0
	# param set SL_POS_KI_VELX 1.0
	# param set SL_POS_KI_VELY 1.0
	# param set SL_POS_KI_VELZ 1.0
	# param set SL_POS_FAILGAIN 0.2
	# param set SL_ALT_KP_POS 1.0
	# param set SL_ALT_KP_VEL 10;
	# param set SL_ALT_KI_VEL 20;
	# param set SL_YRC_KP_PSI 5.0
	# param set SL_YRC_RATECMD 0.0
	# param set SL_ATT_ROTKP -10.0
	# param set SL_INDI_KPX 30.0
	# param set SL_INDI_KPY 30.0
	# param set SL_INDI_KPZ 3.0
	# param set SL_RDOT_KPU 50.0
	# param set SL_RDOT_KPV 50.0
	# param set SL_RDOT_KPR 5.0
	# param set SL_RDOT_KIU 0.f
	# param set SL_RDOT_KIV 0.f
	# param set SL_RDOT_KIR 0.f
	# param set SL_RDOT_KDU 1.5
	# param set SL_RDOT_KDV 1.5
	# param set SL_RDOT_KDR 0.01
	# param set SL_RDOT_DFILT 0.8
	# param set SL_RDOT_UVDFILT 0.8
	# param set SL_MINDI_MKPU 10;
	# param set SL_MINDI_MKPV 10;
	# param set SL_MINDI_MKPR 10;

	sl_urcontrol start
	sl_loe_detector start
fi

sleep 1

mavlink start -x -u 14556 -r 9000000
mavlink start -x -u 14557 -r 9000000 -m onboard -o 14540

sleep 1

mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink stream -r 50 -s ACTUATOR_CONTROL_TARGET0 -u 14556

df_bebop_bus_wrapper start
mavlink boot_complete
